@import '../../scss/color-var.scss';
@import '../../scss/rule-var.scss';

.product-body {
  min-height: 55vh;
  display: flex;
  justify-content: space-between;
  padding:0;
  margin:0;
  .content {
    padding-left: 2rem;
    width: 80%;
    text-align: start;
    margin-bottom: 2rem;
    h2.title {
      margin: 1rem;
      color: $red;
    }
    .item-list {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .side-panel {
    text-align: start;
    min-width: 280px;
    background: white;
    padding: 1.5rem 1.7rem 1.5rem $g-indent-space;
    overflow: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-height: 100vh;
  }
}