@import '../../scss/color-var.scss';
@import '../../scss/rule-var.scss';

.dd-nav {
  position: absolute;
  display: flex;
  width: 100vw;
  min-height: 100px;
  max-height: 580px;
  overflow: hidden;
  top: 208px;
  left: 0;
  // background: linear-gradient(180deg, $red 14.91%, $grey 100%);
  background: $white;
  padding: 20px $g-indent-space 5rem;
  z-index: 5;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, .7);
  color: black;

  @media only screen and (max-width:1150px) and (min-width: 900px) {
    top: 243px;
  }

  .title-banner {
    background: $blue;
    display: flex;
    position: absolute;
    font-size: 1.2em;
    color: white;
    bottom: 0;
    left: 0;
    width:100vw;
    height: 2.95rem;
    align-items: center;
    padding-left: $g-indent-space;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, .7);
  }
}
