@import '../../scss/color-var.scss'; // global color variable

.nav-menu-list {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 1.75em;
  width: 100%;
  padding-bottom: 10px;
  justify-content: flex-start;
  align-items: center;
  @media only screen and (max-width: 1600px) {
    font-size: 1.5em;
  }
  @media only screen and (max-width: 1500px) {
    font-size: 1.2em;
  }
  @media only screen and (max-width: 1170px) {
    justify-content: center;
    font-size: 1em;
    padding: 0;
  }
  @media only screen and (max-width: 900px) {
    display: none;
  }
}

