@import '../../scss/color-var.scss';

div.menu {
  cursor: default;
}

.menu {
  margin: 0 2.5rem;
  position: relative;

  @media only screen and (max-width: 1350px) {
    margin: 0 1.5rem;
  }
  @media only screen and (max-width: 910px) {
    margin: 0 1rem;
  }
  .menu-text {
    .text {
      color: white;
      position: relative;
      z-index: 10;
    }

    .ll {
      right: -.3em;
      bottom: .3em;
      position: absolute;
      width: 1.75em;
      height: .11em;
      background: linear-gradient(268.65deg, #F50706 -1.73%, rgba(245, 7, 6, 0) 101.23%);
      z-index: 0;
    }
    
    .first {
      transform: translate(0, 0);
    }
    .second {
      transform: translate(-5px, .16em);
    }
    .third {
      transform: translate(-10px, .32em);
    }
  }
}