$mag-color: black;

.magni {
  width: 27px;
  height: 27px;
  position: absolute;
  cursor: pointer;
  right: -40px;
  top: 0;

  // circle
  &::before {
    content: '';
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 4px solid $mag-color;
    position: absolute
  }

  // handle
  &::after {
    content: '';
    width: 13px;
    height: 4px;
    border-radius: 2px;
    background: $mag-color;
    position: absolute;
    right: 2px;
    bottom: 4px;
    transform: rotate(51deg);
  }
}

