@import '../../scss/color-var.scss';
@import '../../scss/rule-var.scss';

.header {
  font-size: 1.2rem;
}

.header-fixed {
  position: fixed;
  left:0;
}

.nav {
  background: $blue;
  display: flex;
  justify-content: space-between;
  padding: 20px $g-indent-space 18px $g-indent-space;
  position: relative;
  max-height: 205px;

  @media only screen and (max-width: 1150px) {
    flex-direction: column;
    align-items: center;

    .icon {
      margin-bottom: .5em;
    }
  }
  @media only screen and (max-width: 900px) {
    flex-direction: row;
    padding: 10px $small-indent-space 10px $small-indent-space;
    .icon {
      margin-bottom: 0;
    }
  }

}
