@import '../../scss/color-var.scss';
@import '../../scss/rule-var.scss';

.header {
  font-size: 1.2rem;
}

.header-fixed {
  position: fixed;
  left:0;
}

.nav {
  background: $blue;
  display: flex;
  justify-content: space-between;
  padding: 20px $g-indent-space 18px $g-indent-space;
  position: relative;
  max-height: 205px;
  .icon {
      overflow: hidden;
      width: 170px;
      height: 170px;
      .logo-icon {
        width:100%;
      }
  }

  @media only screen and (max-width: 1150px) {
    flex-direction: column;
    align-items: center;

    .icon {
      margin-bottom: .5em;
    }
  }
  @media only screen and (max-width: 900px) {
    flex-direction: row;
    padding: 10px $small-indent-space 10px $small-indent-space;
    justify-content: center;

    .menu-collapse {
      display: flex;
    }

    .icon {
      margin-bottom: 0;
    }
  }

  @media only screen and (max-width: 768px) {
    .icon {
      width: 100px;
      height: 100px;
    }
  }
  @media only screen and (max-width: 425px) {
    .icon {
      width: 75px;
      height: 75px;
    }
  }

}

.menu-collapse {
  display: none;
  width: 50px;
  height: 40px;
  position: absolute;
  justify-content: space-between;
  flex-direction: column;
  left: $small-indent-space;

  .line {
    display: inline-block;
    width: 100%;
    height: 6px;
    background: $grey;
  }

  @media only screen and (max-width: 425px) {
    width: 30px;
    height: 25px;
    .line {
      height: 4px;
    }
  }

}
