@import '../../scss/color-var.scss';

$arrow-color: $red;

$arrow-head: 2px solid $arrow-color;

.arrow {
  position: relative;
  margin-right: .5rem;
  bottom: 3px;
  display: inline-block;
  background: $arrow-color;
  width: 8px;
  border: $arrow-head;
  height: 0;
  border-radius: 2px;
  &::before, &::after {
    content: '';
    display: block;
    position: relative;
    bottom: 4px;
    left: 5px;
    border: $arrow-head;
    border-radius: 2px;
    background: $arrow-color;
    width: 7px;
  }
  &::after {
    transform: rotate(145deg);
  }
  &::before {
    transform: rotate(35deg);
  }
}