@import '../../scss/color-var.scss';

.text-slide-bar {
  background-color: #FFFFFF;
  overflow: hidden;
  border: none;
  height: 42px;
  position: relative;
  text-align: center;

.scrolling {
    font-size: 1.2em;
    height: 100%;
    vertical-align: middle;
    @media only screen and (max-width: 1150px) {
      font-size: 1em;
    }
  }
  @media only screen and (max-width: 1150px) {
    height: 30px;
  }
}
