@import '../../scss/color-var.scss';
@import '../../scss/rule-var.scss';

.footer {
  background: $blue;
  padding: 20px $g-indent-space;
  display: flex;
  justify-content: space-between;
  
  .infomation{

    .info-list {
      display: flex;
      justify-content: flex-start;
    }

  }

  .info-list {
    
  }
}
