@import '../../scss/color-var.scss';
@import '../../scss/rule-var.scss';

.footer {
  background: $blue;
  padding: 3rem $g-indent-space;
  margin: 0;
  position: relative;
  overflow: hidden;
  color: $white;
  display: flex;
  justify-content: center;
  .foot-content {
    display: flex;
    justify-content: flex-start;
    > div {
      margin: 0 3rem;
      padding: 0 1rem;
      min-width: 150px;
      max-width: 200px;
      ul {
        padding-top: 1rem;
      }
    }
  }
}

.foot-icon-logo {
  width: 175px;
  height: 175px;
  margin: 0 3rem;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.cr {
  position: absolute;
  bottom: .3rem;
  left: $g-indent-space;
}
