@import './scss/color-var.scss';
@import './scss/rule-var.scss';

*{
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
  background: $dark-grey;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.none {
  display: none;
}


main {
  padding: 0 $g-indent-space;
  text-align: center;
  margin: 4rem 0;

}
