@import "../../scss/color-var.scss";
@import "../../scss/rule-var.scss";

.deal-card-list {
  margin-top: 1rem;
  display: flex;
  padding: 1rem;
  justify-content: center;
  background: $reda;
  flex-wrap: wrap;
}
